* {
    padding: 0;
    box-sizing: border-box;
    margin: 0%;
}

.Otavio {
    align-items: center;
    color: white;
}
header{
    background-color: rgb(100, 130, 173);
    margin: 0px;
    padding: 20px;
    
}